@charset 'utf-8';
/*************************************************
*
*	project:  	liteAccordion - horizontal accordion plugin for jQuery
*	author:   	Nicola Hibbert
*	url:	  	http://nicolahibbert.com/horizontal-accordion-jquery-plugin
*	demo:	  	http://www.nicolahibbert.com/demo/liteAccordion
*
/*************************************************/
/****************************************** Core */
.accordion { text-align: left; font-family:arial; }
.accordion ol { position: relative; overflow: hidden; height: 100%; margin: 0; padding: 0; list-style-type: none; }
.accordion li  h2 { font-weight: normal; margin: 0; z-index: 2; position: absolute; top: 0; left: 0; -webkit-transform: translateX(-100%) rotate(-90deg); -webkit-transform-origin: right top; -moz-transform: translateX(-100%) rotate(-90deg); -moz-transform-origin: right top; 
	-o-transform: translateX(-100%) rotate(-90deg); -o-transform-origin: right top; -ms-transform: translateX(-100%) rotate(-90deg); -ms-transform-origin: right top; transform: translateX(-100%) rotate(-90deg); transform-origin: right top; filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
.accordion li  h2 span { display: block; padding-right: 0px; text-align: right; height: 90%; margin-top: 0px; font-size:18px; text-transform:uppercase;}
.accordion li  h2 b { display: inline-block; position: absolute; bottom:0px; left: 0px;  text-align: center; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }
.accordion li  h2:hover { cursor: pointer; }
.accordion li  div { height: 100%; position: absolute; top: 0; z-index: 1; overflow: hidden; background: white; }
.accordion noscript p { padding: 10px; margin: 0; background: white; }

/****************************************** Basic */
.basic li  a { background: #333; color: white; line-height: 1.8em; }
.basic li  div h3 { margin: 15px 10px; }
.basic li  div p { margin: 10px; font-size: 14px; }

/****************************************** Dark */
.dark { border: 1px solid #dbdbd7; padding:0; background: #393939; }
.dark li  h2.lien1 { background:url(../fr/image/gif/menu1.gif) left top repeat; }
.dark li  h2.lien2 { background:url(../fr/image/gif/lien2.gif) left top repeat;}
.dark li  h2.lien3 { background:url(../fr/image/gif/menu1.gif) left top repeat;}
.dark li  h2.lien4 { background:url(../fr/image/gif/lien2.gif) left top repeat;}
.dark li  h2.lien5 { background:url(../fr/image/gif/menu1.gif) left top repeat;}
.dark li  h2.lien6 { background:url(../fr/image/gif/lien2.gif) left top repeat;}
.dark li  h2.lien7 { background:url(../fr/image/gif/menu1.gif) left top repeat;}
.dark li  h2.lien8 { background:url(../fr/image/gif/lien2.gif) left top repeat;}
.dark li  h2 span  { color:#fff; font-size:17px; font-family:arial;  padding:10px 18px 10px 10px;}
/*.dark h2.selected span, .dark h2.selected span:hover { background: #434343; }*/

.dark li  div { background:url(../fr/image/png/transparent_bg.png) left top repeat; margin-left: 0px; }
.dark li  a.sous_lien { display:block; color:#fff5f5; font-family:Arial; font-size:12px; background:url(../fr/image/gif/puce_ss.gif) 18px 10px no-repeat; padding:4px 2px 4px 28px;}
.dark li  a.sous_lien_gris { display:block; color:#fff5f5; font-family:Arial; font-size:12px; background:#35363c url(../fr/image/gif/puce_ss.gif) 18px 10px no-repeat; padding:4px 2px 4px 28px;}

/*************************************** Rounded */

/***************************************** Light */
/**************************************** Stitch */
