
<style>
button.fill {
  position: relative;
  height: 45px;
  width: 150px;
  padding: 5px 5px;
  font-size: 15px;
  color: #900f00;
  border: 2px #900f00 solid;
  border-radius: 4px;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #900f00;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}
</style>
<section class="" style="margin: 200px">
    <p style="font-size:3rem; font-weight: lighter">ACTUALITÉS</p>
    <div class="row" style="margin-top: 70px;margin-bottom: 50px;" >
        <div class="col-md-12 col-lg-5">
            <h4 style="font-weight: bold" class="mb-5">Lorem ipsum dolor sit amet</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim et fugiat iste molestiae,
                perferendis quae. Consectetur delectus earum error eum illum, iure labore molestiae nam, officia porro
                praesentium reprehenderit.
            </p>
            <button class="fill mt-3 mb-md-5">En savoir plus</button>
        </div>
        <div class="col-md-12 col-lg-5 offset-md-0 offset-lg-2">
            <h4 style="font-weight: bold" class="mb-5">Lorem ipsum dolor sit amet</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim et fugiat iste molestiae,
                perferendis quae. Consectetur delectus earum error eum illum, iure labore molestiae nam, officia porro
                praesentium reprehenderit.
            </p>
            <button class="fill mt-3 mb-md-5">En savoir plus</button>

        </div>

    </div>
    <div class="row" style="margin-top: 70px" >
        <div class="col-md-12 col-lg-5">
            <h4 style="font-weight: bold" class="mb-5">Lorem ipsum dolor sit amet</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim et fugiat iste molestiae,
                perferendis quae. Consectetur delectus earum error eum illum, iure labore molestiae nam, officia porro
                praesentium reprehenderit.
            </p>
            <button class="fill mt-3 mb-md-5">En savoir plus</button>
        </div>
        <div class="col-md-12 col-lg-5 offset-md-0 offset-lg-2">
            <h4 style="font-weight: bold" class="mb-5">Lorem ipsum dolor sit amet</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim et fugiat iste molestiae,
                perferendis quae. Consectetur delectus earum error eum illum, iure labore molestiae nam, officia porro
                praesentium reprehenderit.
            </p>

            <button class="fill mt-3 mb-md-5">En savoir plus</button>
        </div>

    </div>


</section>