<header class="header">
    <nav>
        <div class="logo">
            <img src="/images/insat-logo.svg" alt="INSAT's logo">
        </div>
        <div class="navigation">
            <div class="top-nav">
                <ul>
                    <li><a href="#">calendriers</a></li>
                    <li>.</li>
                    <li><a href="#">entreprises</a></li>
                    <li>.</li>
                    <li><a href="#">documents</a></li>
                    <li>.</li>
                    <li><a href="#">archives</a></li>
                    <button id="recherche"><i class="fas fa-search"></i>recherche</button>
                </ul>
            </div>
            <div class="bot-nav">
                <ul>
                    <li>accueil</li>
                    <li>a propos</li>
                    <li>education</li>
                    <li>about INSAT</li>
                    <li>contact</li>
                </ul>
            </div>
        </div>
    </nav>
</header>