<header class="header">
    <nav>
        <div class="bot-nav">
            <ul class="horizontal" style="display: flex;justify-content: center;">
                <li>
                    <div class="dropdown-head big">
                        a propos
                    </div>
                    <ul class="dropdown-list">
                        <li>historique</li>
                        <li>mot du directeur</li>
                        <li>partenariat</li>
                        <li>galerie de photos</li>
                        <li>staff administratif</li>
                        <li>Chiffres Clés</li>
                    </ul>
                </li>
                <li>
                    <div class="bot-nav-item big">Formation</div>
                </li>
                <li>
                    <div class="bot-nav-item big">Documents</div>
                </li>
                <li>
                    <div class="bot-nav-item big">Vie estudiantine</div>
                </li>
                <a href="/">
                    <div class="logo">
                        <img src="/images/insat-logo.svg" alt="INSAT's logo">
                    </div>
                </a>
                <li>
                    <div class="bot-nav-item big">emplois</div>
                </li>
                <li>
                    <div class="bot-nav-item big">entreprises</div>
                </li>
                <li>
                    <div class="bot-nav-item big">contact</div>
                </li>
                <button id="recherche" onclick="addSearch()"><i class="fas fa-search"></i>recherche</button>
            </ul>
        </div>
        </div>
    </nav>
    <form id="searchBar" class="displaySearch">
        <div style="padding: 10px 10%">
            <input class="form-control form-control-lg" type="text" placeholder="Recherche..." style="border: 2px #900f00 solid">

        </div>
    </form>
</header>
<style>
    #searchBar{
        animation-duration: 1s;
    }
    .displaySearch{
        display: none;


    }
    .form-control:focus {
        border-color: #28a745;
        box-shadow: 0 0 0 0rem rgba(40, 167, 69, 0.25);
    }

</style>
<script>
    function addSearch() {
        document.getElementById("searchBar").classList.toggle("displaySearch")

    }

</script>