<header class="header">
    <nav>
        <div class="logo">
            <img src="/images/insat-logo.svg" alt="INSAT's logo">
        </div>
        <div class="navigation">
            <div class="top-nav">
                <ul class="horizontal">
                    <li><a href="#">calendriers</a></li>
                    <li>.</li>
                    <li><a href="#">entreprises</a></li>
                    <li>.</li>
                    <li><a href="#">documents</a></li>
                    <li>.</li>
                    <li><a href="#">archives</a></li>
                    <button id="recherche"><i class="fas fa-search"></i>recherche</button>
                </ul>
            </div>
            <div class="bot-nav">
                <ul class="horizontal">
                    <li><div class="bot-nav-item">accueil</div></li>
                    <li>
                        <div class="dropdown-head">
                            a propos
                        </div>
                        <ul class="dropdown-list">
                            <li>historique</li>
                            <li>mot du directeur</li>
                            <li>partenariat</li>
                            <li>galerie de photos</li>
                            <li>staff administratif</li>
                            <li>Chiffres Clés</li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdown-head">
                            education
                        </div>
                        <ul class="dropdown-list">
                            <li>Cycle Préparatoire
                                Intégré</li>
                            <li>Diplômes d'Ingénieur</li>
                            <li>Licences appliquées</li>
                            <li>Mastères Professionnelles</li>
                            <li>Enseignement à Distance</li>
                        </ul>
                    </li>
                    <li>
                        <div class="bot-nav-item">
                            about INSAT
                        </div>
                    </li>
                    <li>
                        <div class="bot-nav-item">
                            contact
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>