<section class="top-banner">
	<div class="banner-side">
		<img src="/images/tunisia-flag.svg" alt="Tunisia flag"  class="flag"/>
		<p>
			République Tunisienne <br>
			Ministère de l'Enseignement Supérieur et de
			Recherche Scientifique
		</p>
	</div>
	<p>
		Mercredi 01 Septembre 2021 <br>
		23:28:10
	</p>
	<div class="banner-side">
		<p>
			Université de Carthage <br>
			Institut National Des Sciences Appliquées et de Technologie
		</p>
		<img src="/images/carthage-logo.svg" alt="UV Carthage logo">
	</div>
</section>
