<section class="" style="margin: 100px 200px 80px;">
    <h2 style="font-size: 2.5rem">ACTUALITÉS</h2>
    <div class="row" style="margin-top: 70px;margin-bottom: 50px;">
        <div class="col-md-12 col-lg-5" style="display: flex;flex-direction: column;justify-content: space-between">
            <div>
                <h5 style="font-weight: normal" class="mb-2">Résultats du concours d’acceptation au master professionnel en
                    Métrologie et Ingénierie de la Qualité - MIQ de l’INSAT - 2021</h5>
                <p style="font-weight: lighter">08/09/2021</p>
            </div>
            <div>
                <a href="/actualite/1">
                <button class="fill mt-3 mb-md-5">En savoir plus</button>
                </a>
            </div>
        </div>
        <div class="col-md-12 col-lg-5 offset-md-0 offset-lg-2" style="display: flex;flex-direction: column;justify-content: space-between">
            <div>
                <h5 style="font-weight: normal" class="mb-2">بــلاغ تسجيل الطلبة بعنوان السنة الجامعية 2021/2022</h5>
                <p style="font-weight: lighter">08/09/2021</p>
            </div>
            <div>
                <a href="/actualite/1">
                    <button class="fill mt-3 mb-md-5">En savoir plus</button>
                </a>
            </div>
        </div>

    </div>
    <div class="row" style="margin-top: 70px">

        <div class="col-md-12 col-lg-5" style="display: flex;flex-direction: column;justify-content: space-between">
            <div>
                <h5 style="font-weight: normal" class="mb-2">Newsletter Trimestre 2.2021, Direction de la Vie Universitaire et des Relations avec l'Environnement (DVURE) </h5>
                <p style="font-weight: lighter">08/09/2021</p>
            </div>
            <div>
                <a href="/actualite/1">
                    <button class="fill mt-3 mb-md-5">En savoir plus</button>
                </a>
            </div>
        </div>
        <div class="col-md-12 col-lg-5 offset-md-0 offset-lg-2" style="display: flex;flex-direction: column;justify-content: space-between">
            <div>
                <h5 style="font-weight: normal" class="mb-2">Résultats du concours spécifique "Cycle Ingénieur" de l'INSAT. Session 2021 pour le compte de l'année universitaire 2021/2022</h5>
                <p style="font-weight: lighter">08/09/2021</p>
            </div>
            <div>
                <a href="/actualite/1">
                    <button class="fill mt-3 mb-md-5">En savoir plus</button>
                </a>
            </div>
        </div>


    </div>
    <hr>

    <div style="display: flex;justify-content: center">
        <a href="/actualite">
            <button class="btn btn-secondary mt-4" style="padding-left: 30px;padding-right: 30px;font-size: 1.5rem;">
                voir
                plus d'actualités
            </button>
        </a>    </div>
</section>