<style>
    .photo{
        width: 100%;
        height: auto;
    }
    .text{
        height: auto;
    }
    .carousel-item{
        height: auto;
    }
    .carousel-inner{
        height: 70vh;
    }
    .carousel-indicators li{
        background-color:#bbb;
    }
    .carousel-indicators .active{
        background-color: #900f00;
    }
    .cont {
        margin-left: 100px;
        margin-right: 100px;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 5%;
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23900f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23900f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
</style>
<body>
<section class="" style="padding: 50px 100px; margin:0 0;background-color: #f2f2f2">
<p style="font-size:3rem; font-weight: lighter">À LA UNE</p>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active line"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row cont" style="margin-top: 70px;margin-bottom: 50px;">
                    <div class="col-md-12 col-lg-5">
                        <img src="/images/insat1.jpg" alt="" class="photo">
                    </div>
                    <div class="col-md-12 col-lg-5 offset-md-0 offset-lg-2 text">
                        <h4 style="font-weight: bold" class="mb-5">Lorem ipsum dolor sit amet</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim et fugiat iste molestiae,
                            perferendis quae. Consectetur delectus earum error eum illum, iure labore molestiae nam, officia porro
                            praesentium reprehenderit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim et fugiat iste molestiae,
                            perferendis quae. Consectetur delectus earum error eum illum, iure labore molestiae nam, officia porro
                            praesentium reprehenderit.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim et fugiat iste molestiae,
                            perferendis quae. Consectetur delectus earum error eum illum, iure labore molestiae nam, officia porro
                            praesentium reprehenderit.
                        </p>
                        <button class="fill mt-3 mb-md-5">En savoir plus</button>
                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="row cont" style="margin-top: 70px;margin-bottom: 50px;">
                    <div class="col-md-12 col-lg-5">
                        <img src="/images/insat2.jpg" alt="" class="photo">
                    </div>
                    <div class="col-md-12 col-lg-5 offset-md-0 offset-lg-2 text">
                        <h4 style="font-weight: bold" class="mb-5">Lorem ipsum dolor sit amet</h4>
                        <p>
                            Ullamcorper sit amet risus nullam eget felis eget. Ornare arcu odio ut sem. Leo duis ut diam quam. In cursus turpis massa tincidunt dui ut. Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo. Odio ut sem nulla pharetra. Mauris sit amet massa vitae tortor condimentum lacinia. Quam nulla porttitor massa id. Vestibulum morbi blandit cursus risus at ultrices. Interdum velit laoreet id donec. Quis auctor elit sed vulputate mi sit amet mauris commodo. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Malesuada proin libero nunc consequat interdum varius sit. Felis donec et odio pellentesque diam volutpat commodo. Porta non pulvinar neque laoreet suspendisse. Lacus laoreet non curabitur gravida arcu ac tortor dignissim convallis.
                        </p>
                        <button class="fill mt-3 mb-md-5">En savoir plus</button>
                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="row cont" style="margin-top: 70px;margin-bottom: 50px;">
                    <div class="col-md-12 col-lg-5">
                        <img src="/images/insat3.jpg" alt="" class="photo">
                    </div>
                    <div class="col-md-12 col-lg-5 offset-md-0 offset-lg-2 text">
                        <h4 style="font-weight: bold" class="mb-5">Lorem ipsum dolor sit amet</h4>
                        <p>
                            Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Orci nulla pellentesque dignissim enim sit amet venenatis. A erat nam at lectus urna duis convallis convallis tellus. Et tortor consequat id porta. Pellentesque massa placerat duis ultricies lacus sed turpis. Justo nec ultrices dui sapien eget mi proin. Tellus at urna condimentum mattis pellentesque id. Purus sit amet luctus venenatis lectus magna fringilla. Sed vulputate odio ut enim blandit. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam. Lorem donec massa sapien faucibus et molestie ac feugiat sed. Feugiat vivamus at augue eget. A cras semper auctor neque vitae tempus quam. Risus quis varius quam quisque id diam vel quam.
                        </p>
                        <button class="fill mt-3 mb-md-5">En savoir plus</button>
                    </div>

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

</section>
</body>

