<style>
    footer {
        background-color: #203b49;
        color: #e3e3e3;
        font-size: 1.04rem;

    }

    footer li {
        list-style-image: url('/images/right-arrow.svg');
        line-height: 2rem;
    }

    footer .row {
        padding: 50px 100px 0;

    }

   footer .hr-lil {
        width: 25%;
        background-color: #b3915a;
       opacity: 1;
       margin: 0;


    }
   footer ul{
       padding-left: 12px;/*half the length of svg*/
       margin-top: 15px;
   }
   footer .lil-header{
       text-transform: uppercase;
   }
   footer .menu-container{
       margin-top: 30px;
   }

   footer .lil-logo{
       height: 50px;
       border-radius: 50px;
       margin-left: 15px;
       /*margin-bottom: 50px;*/
   }
   footer .row{
       margin: 0;
   }

   footer .bg-hr{
       width: 75%;
       background-color: #1a303b;
       opacity: 1;
       margin: 0;
       height: 2px;
       margin-bottom: 50px;
   }


</style>
<footer>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2 menu-container">
            <strong class="lil-header">Menu Principal</strong>
            <hr class="hr-lil">
            <ul>
                <li>Acceuil</li>
                <li>formation</li>
                <li>emploi</li>
                <li>actualités</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 menu-container">
            <strong class="lil-header">partenaires</strong>
            <hr class="hr-lil">
            <ul>
                <li>Nos partenaires</li>
                <li>recruter nos étudians et nos diplomés</li>
                <li>devener partenaire</li>
            </ul>
        </div>
        <div class="col-lg-4 col-sm-12" style="display: flex;justify-content: center;align-items: center">
            <img style="margin:auto;" src="/images/insat-logo.svg"  alt="insat logo" height="250px">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 menu-container">
            <strong class="lil-header">Formation</strong>
            <hr class="hr-lil">
            <ul>
                <li>cycle preparatoire integré</li>
                <li>diplomes d'ingénieurs</li>
                <li>licences appliquées </li>
                <li>masteres appliqués</li>
                <li>doctorat</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 menu-container">
            <strong class="lil-header">Contact</strong>
            <hr class="hr-lil">
            <ul>
                <li style="list-style-image: url('/images/home.svg')">Centre Urbain Nord BP 676-1080 Tunis Cedex</li>
                <li style="list-style-image: url('/images/phone-call.svg')">(+216) 71 703 829</li>
                <li style="list-style-image: url('/images/phone-call.svg')">(+216) 71 703 929</li>
                <li style="list-style-image: url('/images/email2.svg')"><div>contact@insat.rnu.tn<div></li>
            </ul>
        </div>
    </div>
    <div style="display: flex;justify-content: center">
        <hr class="bg-hr">
    </div>
    <div style="display: flex;justify-content: center">
        <img src="/images/facebook.svg" alt="facebook" class="lil-logo">
        <img src="/images/linkedin.svg" alt="linked-in"  class="lil-logo" >
        <img src="/images/email.svg" alt="email" class="lil-logo" >
    </div>
    <div class="pb-3 pt-3" style="display: flex;justify-content: center">
        Copyrights © 2021 INSAT - all rights reserved - <u>contact web editor</u>
    </div>

</footer>