<style>
    .partenaires img {
        padding: 1vw;
    }
    .partenaires{
        padding-bottom: 20px;
        padding-top: 80px;
        background-color: #f2f2f2;
    }
</style>
<section class="partenaires">
    <div style="padding: 0 20vw">

        <h3 style="text-align: center;color: #920000">LES PARTIES QUI RENDENT L'INSAT ENTIER</h3>
        <h2 style="text-align: center;color: #F80000">Partenaires academiques et professionels de l'INSAT:</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img width="100%" src="/images/insa-lyon.png" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img width="100%" src="/images/polytech.png" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img width="100%" src="/images/nantes.png" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img width="100%" src="/images/codfi.png" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img width="100%" src="/images/france.png" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img width="100%" src="/images/supcom.gif" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img width="100%" src="/images/mers.gif" alt="">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <img width="100%" src="/images/france.png" alt="">
            </div>

        </div>

    </div>
</section>
