.top-banner {
    width: 100%;
    height: 110px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #E9E9E7;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.top-banner p {
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 1.5;
}
.banner-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 400px;
}
.flag {
    flex-basis: 100px;
}

/* NAVIGATION */
.top-nav {
    text-transform: uppercase;
    padding-left: 80px;
    margin-bottom: 30px;
}
.top-nav a, .top-nav li {
    color: #F80000;
}
.bot-nav {
    text-transform: capitalize;
    width: 100%;
    display: flex;
    padding: 20px 40px;
    justify-content: space-around;
}
.top-nav>.horizontal>li {
    padding: 15px 5px;
}
.bot-nav>.horizontal>li {
    color: #920000;
    font-size: 1.1vw;
    /*padding: 15px 0;*/
}
.logo {
    flex-basis: 20%;
    text-align: center;
}
.logo img {
    height: 200px;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    /*flex-basis: 50%;*/
    font-weight: 500;
}
.horizontal {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}
/*.horizontal>li {*/
/*    flex-grow: 1;*/
/*}*/
#recherche {
    color: #920000;
    font-weight: 500;
    text-transform: uppercase;
    padding: 13px 38px;
    border: 1px solid #8E8E8E;
    background: none;
    margin-left: 40px;
}

.fa-search {
    color: #333;
    margin-right: 3px;
}
.dropdown-list {
    position: absolute;
    list-style: none;
    padding: 30px 20px 20px 10px;
    padding-left: 1vw;
    border: 1px solid #8e8e8eFF;
    border-left: 5px solid #900f00FF;
    margin-top: -1px;
    z-index: 1;
    opacity: 0;
    display: none;
    background-color: white;
    transition: opacity 0.3s ease-out;
}
.horizontal>li:hover>.dropdown-list {
    /*opacity: 1;*/
    /*border: 1px solid #8e8e8eFF;*/
    /*border-left: 5px solid #900f00FF;*/
}
.dropdown-list li {
    border-bottom: 1px solid rgba(142, 142, 142, 0.6);
    padding: 8px 40px 5px 0;
}
.dropdown-head, .bot-nav-item {
    padding: 11px 21px 10px 25px;
    position: relative;
    z-index: 10;
}
.dropdown-head {
    padding: 10px 20px;
    border: 1px solid #8e8e8e00;
    border-left: 5px solid #900f0000;
    transition: border-color 0.3s ease-out, color 0.3s ease-out;
    border-bottom: none;
}
.horizontal>li:hover>.dropdown-head {
    padding: 10px 20px;
    border: 1px solid #8e8e8eFF;
    border-left: 5px solid #900f00FF;
    border-bottom: none;
    /*background: white;*/
    color: #F80000;
}
.big{
    font-size: 1.1vw!important;
}

.banner-side p{
    padding: 0 10%;
}

/* General */
/* html {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
} */

/* body {
  margin: 20px 0;
  overflow: auto;

  color: #fff;
} */

.p-menu1 a {
    color: #fff;
    text-decoration: none;
}

/*.p-menu1{
    height: 100%;
}*/




/* Hamburger */
.hamburger1 {
    height: 45px;
    margin: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    z-index: 120;
}

.hamburger1 div {
    /*background-color: rgb(61, 61, 61);*/
    background-color: #920000;
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#toggle1, #toggle2 {
    display: none;
}

#toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
}

#toggle1:checked ~ .menu1 {
    max-height: 900px;
}


/* Menu */
.menu1 {
    /*width: 100%;*/
    background-color: #920000;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    /*text-align: center;*/
    max-height: 0px;
    overflow: hidden;
    /*transition: height .4s ease;*/
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu2 {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    text-align: left;
}

#toggle2:checked ~ .menu2 {
    max-height: 900px;
}

.menu1>label {
    margin-top: 40px;
    color:  white;
    cursor: pointer;
}

.menu1>a:last-child {
    margin-bottom: 40px;
}

.link1, .link2 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
    padding-left: 47%;
}

.link1:hover, .link2:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.link2 {
    padding-left: 51%;
}

.p-menu1 {
    display: none;
}

@media (max-width: 1200px) {
    .p-menu1 {
        display: block;
    }
    .bot-nav {
        display: none;
    }
}

/*#toggle2 + label {*/
/*    color: white;*/
/*    width: 100%;*/
/*}*/
