.top-banner {
    width: 100%;
    height: 110px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #E9E9E7;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.top-banner p {
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 1.5;
}
.banner-side {
    display: flex;
    align-items: center;
    flex-basis: 600px;
}
.flag {
    flex-basis: 100px;
}

/* NAVIGATION */
.top-nav {
    text-transform: uppercase;
    padding-left: 80px;
    margin-bottom: 30px;
}
.top-nav a, .top-nav li {
    color: #F80000;
}
.bot-nav {
    text-transform: capitalize;
    width: 100%;
}
.top-nav>.horizontal>li {
    padding: 15px 5px;
}
.bot-nav>.horizontal>li {
    color: #920000;
    font-size: 1.5em;
    /*padding: 15px 0;*/
}
.header nav {
    display: flex;
    padding: 20px 40px;
    justify-content: space-around;
}
.logo {
    flex-basis: 20%;
    text-align: center;
}
.logo img {
    height: 200px;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    /*flex-basis: 50%;*/
    font-weight: 500;
}
.horizontal {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}
/*.horizontal>li {*/
/*    flex-grow: 1;*/
/*}*/
#recherche {
    color: #920000;
    font-weight: 500;
    text-transform: uppercase;
    padding: 13px 38px;
    border: 1px solid #8E8E8E;
    background: none;
    margin-left: 40px;
}

.fa-search {
    color: #333;
    margin-right: 3px;
}
.dropdown-list {
    position: absolute;
    list-style: none;
    padding: 30px 20px 20px 10px;
    border: 1px solid #8e8e8e;
    border-left: 5px solid #900f00;
    margin-top: -1px;
    z-index: 1;
    display: none;
    opacity: 1;
    background-color: white;
}
.horizontal>li:hover>.dropdown-list {
    display: block;
    opacity: 1;
}
.dropdown-list li {
    border-bottom: 1px solid rgba(142, 142, 142, 0.6);
    padding: 8px 40px 5px 0;
}
.dropdown-head, .bot-nav-item {
    padding: 11px 21px 10px 25px;
    position: relative;
    z-index: 10;
}
.horizontal>li:hover>.dropdown-head {
    padding: 10px 20px;
    border: 1px solid #8e8e8e;
    border-left: 5px solid #900f00;
    border-bottom: none;
    background: white;
    color: #F80000;
}
.big{
    font-size: 1.5rem!important;
}