{% extends 'layout.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/stylesheets/home.css"/>
    <link rel="stylesheet" href="/stylesheets/button_fill.css"
{% endblock %}

{% block body %}
    {% include 'header.twig' %}
    <div class="container">
        <h5 style="font-weight: normal" class="mb-2">Newsletter Trimestre 2.2021, Direction de la Vie Universitaire et des Relations avec l'Environnement (DVURE) </h5>
        <p style="font-weight: lighter">08/09/2021</p>
            <a href="/actualite/1" style="width: 100%;display: flex;justify-content: center">
                <button class="fill mt-3 mb-md-5" style="width: 50%;font-weight: bold">En savoir plus</button>
            </a>
        <hr class="mt-5 mb-5">



        <h5 style="font-weight: normal" class="mb-2">Newsletter Trimestre 2.2021, Direction de la Vie Universitaire et des Relations avec l'Environnement (DVURE) </h5>
        <p style="font-weight: lighter">08/09/2021</p>
        <a href="/actualite/1" style="width: 100%;display: flex;justify-content: center">
            <button class="fill mt-3 mb-md-5" style="width: 50%;font-weight: bold">En savoir plus</button>
        </a>
        <hr class="mt-5 mb-5">


        <h5 style="font-weight: normal" class="mb-2">Newsletter Trimestre 2.2021, Direction de la Vie Universitaire et des Relations avec l'Environnement (DVURE) </h5>
        <p style="font-weight: lighter">08/09/2021</p>
        <a href="/actualite/1" style="width: 100%;display: flex;justify-content: center">
            <button class="fill mt-3 mb-md-5" style="width: 50%;font-weight: bold">En savoir plus</button>
        </a>
        <hr class="mt-5 mb-5">


        <h5 style="font-weight: normal" class="mb-2">Newsletter Trimestre 2.2021, Direction de la Vie Universitaire et des Relations avec l'Environnement (DVURE) </h5>
        <p style="font-weight: lighter">08/09/2021</p>
        <a href="/actualite/1" style="width: 100%;display: flex;justify-content: center">
            <button class="fill mt-3 mb-md-5" style="width: 50%;font-weight: bold">En savoir plus</button>
        </a>
        <hr class="mt-5 mb-5">


        <h5 style="font-weight: normal" class="mb-2">Newsletter Trimestre 2.2021, Direction de la Vie Universitaire et des Relations avec l'Environnement (DVURE) </h5>
        <p style="font-weight: lighter">08/09/2021</p>
        <a href="/actualite/1" style="width: 100%;display: flex;justify-content: center">
            <button class="fill mt-3 mb-md-5" style="width: 50%;font-weight: bold">En savoir plus</button>
        </a>
        <hr class="mt-5 mb-5">


        <h5 style="font-weight: normal" class="mb-2">Newsletter Trimestre 2.2021, Direction de la Vie Universitaire et des Relations avec l'Environnement (DVURE) </h5>
        <p style="font-weight: lighter">08/09/2021</p>
        <a href="/actualite/1" style="width: 100%;display: flex;justify-content: center">
            <button class="fill mt-3 mb-md-5" style="width: 50%;font-weight: bold">En savoir plus</button>
        </a>
        <hr class="mt-5 mb-5">




        <div style="display: flex;justify-content: end">
            <p>  page:  <u class="me-2 ms-1">prev</u></p>
            <button class="fill" style="width: 50px;margin-left: 20px;">1</button>
            <button class="fill" style="width: 50px;margin-left: 20px;">2</button>
            <button class="fill" style="width: 50px;margin-left: 20px;">3</button>
            <u class="ms-2">next</u>
        </div>
        <div style="height: 50px"></div>

    </div>


{% endblock %}