/*  "Unistra C", "Unistra A", Arial, sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;1,500;1,900&family=Open+Sans:wght@300&display=swap');

:root{
    --bs-navbar-light:#f0edda;
    --bs-danger: #ee6565;
    --bs-font-sans-serif:'Exo', sans-serif;
    --bs-font-monospace:'Open Sans', sans-serif;
}

nav{
    /* font-family: 'Exo', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    background-color: var(--bs-navbar-light) !important;
}

/* carousel style  */
.carousel-caption{
    width: 100%;
    background-color: #f0eddaed;
}
.news-list{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.news-list button{
    height: 33.33%;
}
.list-group-item.active{
    /* background-color: #ee6565;     */
    background-color: var(--bs-danger);
    border-color: rgba(0, 0, 0, 0.125);    
}
/* carousel style end  */